# ---------------------------------------------------
# Environments
# ---------------------------------------------------
todo_venv/
venv/
env/
.env

# ---------------------------------------------------
# Byte-compiled / optimized / DLL files
# ---------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------------------------------
# Database
# ---------------------------------------------------
*.db
*.sqlite3

# ---------------------------------------------------
# Logs
# ---------------------------------------------------
*.log
logs/

# ---------------------------------------------------
# IDEs and Operating System Files
# ---------------------------------------------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# ---------------------------------------------------
# Testing / Profiling
# ---------------------------------------------------
.pytest_cache/
.coverage
htmlcov/